{% extends 'base.html.twig' %}
 
{% block title %}Dodaj ankietę{% endblock %}
{% block header %}Dodaj ankietę{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm">
            <div class="alert alert-danger d-none" role="alert">
                Wypełnij wszyskie pola!
            </div>
        </div>
    </div>

    <div class="row">
        <form action="/admin/savepoll" method="post"> 
            <div class="form-group">
                <label for="username">Nazwa</label>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="username">Pytanie</label>
                <input type="text" class="form-control" name="text" id="text" required>
            </div>
            <div class="form-group">
                <label for="options">Opcje</label>
                <ul id="lst-options"></ul>
                <div class="input-group">
                    <input type="text" class="form-control" id="new-option">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" id="btn-add">+</a>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="btn-save">Zapisz</button>
        </form>
    </div>
    
{% endblock %}


{% block javascripts %}
    <script>
        $(function() {
            $("#btn-add").click(function() {
                if(!$('#new-option').val())
                    return;

                $('#lst-options').append('<li>' +  $('#new-option').val() + '</li>');
                $('#new-option').val('').focus();
                $('.alert-danger').addClass('d-none');
            });    

            $("#btn-save").click(function( event ) {
                if ($('#lst-options').children().length == 0 || !$('input[name="text"]').val() || !$('input[name="name"]').val())
                {
                    $('.alert-danger').removeClass('d-none');
                    return false;
                }

                $(this).attr('disabled', 'disabled');

                var options = [];

                $('#lst-options').find('li').each(function() {
                    options.push($(this).text() );
                });

                $.ajax({
                    url: '/admin/savepoll',
                    method: "POST",
                    data: { options: options, text: $('input[name="text"]').val(),  name: $('input[name="name"]').val() }
                })
                .done(function( msg ) {
                    window.location.href = '/';
                })
                .fail(function( msg ) {
                    alert("Wystąpił błąd");
                });
            });
        });
    </script>
{% endblock %}