{% extends "base.html.twig" %}

{% block title %}{{ heading }}{% endblock %}
{% block header %}{{ heading }}{% endblock %}

{% block actions %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="\admin\addpoll">Dodaj nową ankietę</a>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row mb-2">
        <div class="col-sm">
            {% if open %}
                <a href="\polls\closed">Pokaż zakończone</a>
            {% else %}
                <a href="\polls\open">Pokaż aktywne</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if polls %}
            <table class="table">
                <thead>
                    <tr>
                        <td><strong>Nazwa</strong></td>
                        <td><strong>Autor</strong></td>
                        <td></td>
                    </tr>
                </thead>
                {% for poll in polls %}
                    <tr>
                        <td>{{ poll.name }}</td>
                        <td>{{ poll.author.getUsername() }}</td>
                        <td class="text-right">
                            {% if poll.getIsRunning() and poll.hasVoted(app.user.getId()) == false %}
                                <a class="btn btn-sm btn-primary" href="/polls/vote/{{ poll.id }}">Głosuj!</a>
                            {% endif %}
                            {% if poll.getIsRunning() == false or is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-sm btn-primary" href="/polls/results/{{ poll.id }}">Wyniki</a>
                            {% endif %}
                            {% if poll.getIsRunning() and is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-sm btn-danger close-btn" data-id="{{ poll.id }}" href="#">Zakończ</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}        
            <div class="alert alert-info">
                Nie ma obecnie dostępnych żadnych ankiet
            </div>    
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $(".close-btn").click(function() {
                var pollId = $(this).data('id');

                $(this).attr('disabled', 'disabled');

                $.ajax({
                    url: '/admin/closepoll/' + pollId,
                    method: "POST"
                })
                .done(function( msg ) {
                    window.location.href = '/polls/closed';
                })
                .fail(function( msg ) {
                    alert("Wystąpił błąd");
                });;
            });    
        });
    </script>
{% endblock %}