{% extends "base.html.twig" %}

{% block title %}Wyniki ankiety{% endblock %}
{% block header %}Wyniki ankiety <strong>{{ poll.getName() }}</strong>{% endblock %}

{% block body %}

    <div class="row mb-2">
        <div class="col-sm">
            <h4>Odpowiedzi na pytanie: <strong>{{ poll.getText() }}</strong></h4>
        </div>
    </div>


    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td><strong>Opcja</strong></td>
                    <td><strong>Ilość głosów</strong></td>
                </tr>
            </thead>
            {% for option in poll.getOptions() %}
                <tr>
                    <td>{{ option.getText() }}</td>
                    <td>{{ option.getTotalVotes() }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>RAZEM</strong></td>
                <td><strong>{{ poll.getTotalVotes() }}</strong></td>
            </tr>
        </table>
    </div>

{% endblock %}