{% extends "base.html.twig" %}

{% block title %}Wypełnij ankietę{% endblock %}
{% block header %}{{ poll.getText() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm">
            <div class="alert alert-success d-none" role="alert">
                Głos oddany!
            </div>
            <div class="alert alert-danger d-none" role="alert">
                Wybierz opcję!
            </div>
        </div>
    </div>

    <div class="row">
        <form id="vote-form"> 
            {% for option in poll.getOptions() %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="options" id="option-{{ option.getId() }}" value="{{ option.getId() }}" checked>
                    <label class="form-check-label" for="option-{{ option.getId() }}">
                        {{ option.getText() }}
                    </label>
                </div>
            {% endfor %}
            <input type="hidden" value="{{ poll.getId() }}" id="poll-id" />
            <button type="button" class="btn btn-primary mt-2" id="vote-btn">Oddaj głos</button>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $("#vote-btn").click(function() {
                var optionId = $('input[name=options]:checked', '#vote-form').val();
                var pollId = $('#poll-id', '#vote-form').val();

                if (!optionId)
                {
                    $('.alert-danger').removeClass('d-none');
                    return;
                }

                $(this).attr('disabled', 'disabled');

                $.ajax({
                    url: '/polls/vote',
                    method: "POST",
                    data: { optionId: optionId, pollId: pollId }
                })
                .done(function( msg ) {
                    $('.alert-success').removeClass('d-none');
                    window.location.href = '/';
                })
                .fail(function( msg ) {
                    alert("Wystąpił błąd");
                });
            });    
        });
    </script>
{% endblock %}