<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ankiety{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Ankiety</a>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <span class="navbar-text ml-auto text-right">Witaj, {{ app.user.username }}</span>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Wyloguj</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row my-3">
            <div class="col-sm">
                <h3 class="title">{% block header %}{% endblock %}</h3>
            </div>
            <div class="col-sm text-right">
                {% block actions %}{% endblock %}
            </div>
        </div>
        {% block body %}{% endblock %}
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>