{% extends 'base.html.twig' %}
 
{% block title %}Zaloguj{% endblock %}
{% block header %}Zaloguj{% endblock %}

{% block body %}

    {% if errors %}
        <div class="row">
            <div class="alert alert-danger" role="alert" data-error="{{ errors.messageKey }}">
                Błąd logowania
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm">
            <form action="{{ path('login') }}" method="post"> 
                <div class="form-group">
                    <label for="username">User</label>
                    <input type="text" class="form-control" name="_username" id="username" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" name="_password" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Zaloguj</button>
            </form>
        </div>
        <div class="col-sm"><a href="/register">Zarejestruj</a></div>
    </div>

{% endblock %}