{% extends 'base.html.twig' %}
 
{% block title %}Zarejestruj{% endblock %}
{% block header %}Zarejestruj{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm">
            <form action="{{ path('registerUser') }}" method="post"> 
                <div class="form-group">
                    <label for="username">User</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Zarejestruj</button>
            </form>
        </div>
        <div class="col-sm"><a href="/login">Zaloguj</a></div>
    </div>



{% endblock %}